{
    "trailingComma": "none",
    "tabWidth": 2,
    "singleQuote": true,
    "semi": true,
    "endOfLine": "lf",
    "useTabs": false,
    "printWidth": 90,
    "bracketSpacing": true,
    "jsxBracketSameLine": false
  }